{% extends 'base.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    <h3>Student</h3>
    <br>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Year: {{ user.userprofile.year }}</p>
    <p>Major: {{ user.userprofile.major }}</p>
    <p>About: {{ user.userprofile.description }}</p>
    <br>
    <a href="{% url 'accounts:edit_profile'%}">Edit Profile</a>
</div>

{% endblock %}