<div id="header" class="header">
	<div class="row">
		<div class="col-lg-6 col-md-6">
		<center>
		<h1>Homepage</h1>
			<p>Send a tutor request!</p></center>
		</div>
	</div>
</div>
<hr>
<style>
	body{
		background-color: #33ACFF;
	}
</style>
<center>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Request" />
</form>
</center>
<hr>
<div class="container">
	<footer>
		<center>
		<p>
			Copyright 2020, Style group
		</p>
		<p>
			Footer made on 2020-02-20 12:35
		</p>
		</center>
	</footer>
</div>
