{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Year: {{ user.userprofile.year }}</p>
    <p>Major: {{ user.userprofile.major }}</p>
    <p>About: {{ user.userprofile.description }}</p>
    {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}
    <a href="{% url 'users:edit_profile'%}">Edit Profile</a>
</div>

{% endblock %}